
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    color: #333;
}

header {
    background-color: #920202;
    color: white;
    text-align: center;
    padding: 1.5em;
}

footer {
    background-color: #860303;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.sobre {
    margin-bottom: 40px;
}

.sobre h2 {
    color: #000000;
}

.display-exemplo {
    margin-top: 10px;
    background: #e8eaf6;
    padding: 15px;
    border-radius: 10px;
}

.display-exemplo span {
    background-color: #eb5656;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.block {
    display: block;
    width: 100px;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
    width: 100px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c5cae9;
    padding: 20px;
    border-radius: 10px;
}

.box {
    background-color: #f04545;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    width: 80px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.grid-gallery .item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.grid-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.grid-gallery img:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    header {
        font-size: 1em;
    }

    .flex-container {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}
