
body {
    font-family: 'Inter', sans-serif;
    background-color: #036186;
    color: #000;
    scroll-behavior: smooth;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #0d6efd;
}

.custom-navbar {
    background: linear-gradient(90deg, #0d6efd, #6f42c1);
}

.nav-link.active {
    font-weight: bold;
    color: #fff !important;
    text-shadow: 0 0 8px rgba(255,255,255,0.9);
}

.hero-section {
    height: 100vh;
    position: relative;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.hero-section .container {
    position: relative;
    z-index: 2;
}

.hero-btn {
    background: #fff;
    color: #000;
    padding: 12px 28px;
    border-radius: 30px;
    transition: .3s;
}

.tech-card {
    padding: 25px;
    background: #ffffff;
    text-align: center;
    border-radius: 15px;
    transition: .3s;
}

.tech-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.team-section {
    background: #f8f9fa;
}

.team-card { 
    text-align: center;
    border-radius: 30px;
    padding: 60px;
    background: #fff;
    transition: 0.3s;
}

.team-card img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-card:hover {
    transform: translateY(-10px);
}

.contact-form {
    background: #f0f0ff;
    border-radius: 12px;
}


.footer {
    background: #0d6efd;
    color: #fff;
}


body.dark {
    background: #121212;
    color: #e2e2e2;
}

body.dark .team-card,
body.dark .tech-card,
body.dark .contact-form {
    background: #1e1e1e;
    color: #fff;
}

body.dark .navbar,
body.dark .custom-navbar {
    background: #000 !important;
}

body.dark .project-card {
    background: #1e1e1e;
    color: white;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 9999;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.whatsapp-float:hover {
    background-color: #1ebc57;
    transform: scale(1.1);
}

.zap {
    width: 35px;
    height: 35px;
}
#projetos {
    color: #f8f9fa;
    padding-top: 100px;
    text-align: center;
    }
.project-card {
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    color: #000000;
    transition: transform 0.3s;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-img {
    width: 90%;
    height: 180px;
    object-fit: cover;
}

